* {
	--editor: #334;
	--border: #99b3;
	--inactive: #99b;
	--active: #ddf;
	--accent: #bae;

	--string: #9d9;
	--number: #e9a;
	--yellow: #eda;
	--type: #8dc;
	--variable: #adf;
	--constant: #7ce;
	--function: #8bf;

	/* Visibility */
	color: var(--inactive);
	font-size: 12px;
	font-family: sans-serif;
}

body {
	/* Visibility */
	background: #223;
	display: flex;
	flex-direction: column;

	/* Size */
	height: 100vh;
	margin: 0;
}

div {
	/* Visibility */
	display: flex;

	/* Size */
	flex: 1 1 0;

	/* Children */
	justify-content: center;
}

nav {
	/* Visibility */
	display: flex;
	flex-direction: column;

	/* Size */
	flex: 0 0 48px;
	border-bottom: 1px solid var(--border);
}

#icon {
	/* Size */
	padding: 8px 12px;
	border-bottom: 1px solid var(--border);
}

a {
	/* Visibility */
	display: flex;

	/* Size */
	flex: 0 0 48px;

	/* Children */
	align-items: center;
	justify-content: center;
}

.active {
	filter: brightness(0) saturate(100%) invert(84%) sepia(9%) saturate(757%) hue-rotate(192deg) brightness(100%) contrast(93%);
}

section {
	/* Visibility */
	display: flex;
	flex-direction: column;

	/* Size */
	flex: 1 1 0;
}

header {
	/* Visibility */
	display: flex;

	/* Size */
	flex: 0 0 41px;
}

aside {
	/* Visibility */
	display: flex;

	/* Size */
	flex: 0 0 290px;
}

:not(header)>aside {
	/* Visibility */
	flex-direction: column;

	/* Size */
	flex: 0 0 288px;
	border-left: 1px solid var(--border);
	border-bottom: 1px solid var(--border);
}

button {
	/* Visibility */
	background: none;
	display: flex;

	/* Size */
	padding: 0 8px;
	border: none;
	border-bottom: 1px solid var(--border);

	/* Children */
	align-items: center;
	justify-content: center;
}

aside>button {
	/* Size */
	flex: 1 1 0;
}

button>img {
	/* Size */
	margin-left: 4px;
}

.selected {
	/* Visibility */
	background: var(--editor);
	color: var(--active);

	/* Size */
	border-bottom: 1px solid var(--accent);
}

.selected>img {
	filter: brightness(0) saturate(100%) invert(84%) sepia(9%) saturate(757%) hue-rotate(192deg) brightness(100%) contrast(93%);
}

header>div {
	/* Size */
	border-bottom: 1px solid var(--border);
}

header>div:first-of-type {
	/* Size */
	margin-right: 1px;
}

.hidden {
	/* Visibility */
	display: none;
}

nav>div>a {
	/* Size */
	flex: 0 0 32px;
	margin: 8px 0;
}

.filter {
	/* Visibility */
	filter: brightness(50%);
}

article {
	/* Visibility */
	background: var(--editor);

	/* Size */
	flex: 1 1 0;
	border-left: 1px solid var(--border);
	border-bottom: 1px solid var(--border);
}

footer {
	/* Size */
	flex: 0 0 32px;
}