* {
	--title: #181926;
	--widget: #1e2030;
	--editor: #24273a;
	--border: #2e3245;
	--active: #cad3f5;
	--inactive: #9299b3;
	--accent: #b497d6;

	/* Visibility */
	color: var(--inactive);
	font-size: 12px;
	font-family: sans-serif;
}

body {
	/* Visibility */
	display: flex;
	background: var(--widget);

	/* Size */
	height: 100vh;
	margin: 0;

	/* Children */
	flex-direction: column;
}

/* Titlebar */
header {
	/* Visibility */
	display: flex;
	background: var(--title);

	/* Size */
	flex: 0 0 40px;
	border-bottom: 1px solid var(--border);
}

#icon {
	/* Visibility */
	filter: none;

	/* Size */
	margin: 8px 12px;
}

button {
	/* Visibility */
	display: flex;
	background: none;

	/* Size */
	border: 0;
	padding: 0 8px;

	/* Children */
	text-align: left;
	align-items: center;
}

header>button {
	/* Size */
	flex: 0 0 136px;
}

title {
	/* Visibility */
	display: flex;

	/* Size */
	flex: 1 1 0;

	/* Children */
	align-items: center;
	justify-content: center;
}

img {
	/* Visibility */
	filter: brightness(0) saturate(100%) invert(66%) sepia(9%) saturate(712%) hue-rotate(190deg) brightness(92%) contrast(89%);
}

header>div {
	/* Size */
	flex: 0 0 176px;

	/* Children */
	align-items: center;
	justify-content: center;
}

div>a {
	/* Size */
	flex: 0 0 16px;
	padding-top: 2px;
	margin: 0 4px;
}

a {
	/* Visibility */
	display: flex;
	background: none;

	/* Size */
	flex: 0 0 48px;
	padding: 0;
	border: 0;

	/* Children */
	align-items: center;
	justify-content: center;
}

div {
	/* Visibility */
	display: flex;

	/* Size */
	flex: 1 1 0;
}

/* Navbar */
nav {
	/* Visibility */
	display: flex;

	/* Size */
	flex: 0 0 48px;

	/* Children */
	flex-direction: column;
}

main {
	/* Visibility */
	display: flex;

	/* Size */
	flex: 1 1 0;

	/* Children */
	flex-direction: column;
}

/* Sidebar */
aside {
	/* Visibility */
	display: flex;

	/* Size */
	flex: 0 0 272px;
}

/* Editor */
section {
	/* Visibility */
	display: flex;

	/* Size */
	flex: 1 1 0;
	border-left: 1px solid var(--border);

	/* Children */
	flex-direction: column;
}

section>div {
	/* Size */
	flex: 0 0 40px;
}

div>section>div>button>img {
	/* Size */
	margin-left: 4px;
}

article {
	/* Size */
	flex: 1 1 0;
}

div>section>article {
	/* Visibility */
	background: var(--editor);
}

/* Toolbar */
main>section {
	/* Size */
	flex: 0 0 240px;
	border-top: 1px solid var(--border);
}

/* Statusbar */
footer {
	/* Size */
	flex: 0 0 32px;
	border-top: 1px solid var(--border);
}

/* Tags */
.hidden {
	/* Visibility */
	display: none;
}

.active {
	/* Visibility */
	color: var(--active);
}

.active>img {
	/* Visibility */
	filter: brightness(0) saturate(100%) invert(84%) sepia(9%) saturate(757%) hue-rotate(192deg) brightness(100%) contrast(93%);
}

div>section>div>button.active {
	/* Visibility */
	background: var(--editor);

	/* Size */
	border-bottom: 1px solid var(--accent);
}

.blue {
	/* Visibility */
	filter: brightness(0) saturate(100%) invert(79%) sepia(57%) saturate(4197%) hue-rotate(192deg) brightness(106%) contrast(91%);
}

.green {
	/* Visibility */
	filter: brightness(0) saturate(100%) invert(92%) sepia(15%) saturate(1007%) hue-rotate(40deg) brightness(90%) contrast(89%);
}

.red {
	/* Visibility */
	filter: brightness(0) saturate(100%) invert(86%) sepia(18%) saturate(4806%) hue-rotate(295deg) brightness(98%) contrast(90%);
}